In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_titanic = pd.read_csv('/content/train.csv')

In [3]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

1. Please show all the information that belongs to the first six passengers. You should have
6 rows each referring to a passenger, and the values of 12 features (columns) for each
passenger.

In [4]:
print(df_titanic.head(6))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q

2. Please show all the information that belongs to the last six passengers. You should have 6 rows each referring to a passenger, and the values of 12 features (columns) for each
passenger.

In [5]:
print(df_titanic.tail(6))

     PassengerId  Survived  Pclass                                      Name  \
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked
885  female  39.0      0      5      382652  29.125   NaN        Q
886    male  27.0      0      0      211536  13.000   NaN        S
887  female  19.0      0      0      112053  30.000   B42        S
888  female   NaN      1      2  W./C. 6607  23.450   NaN        S
889    male  26.0      0      0      111369  30.000  C148        C
890    male  32.0      0      0      370376   7.750   NaN        Q

3. Please list the attributes (column titles).

In [7]:
print(list(df_titanic.columns))

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

4. Please show the size of the dataset: (the number of passengers only). Do not forget to
write what the output of your script refers to.

In [8]:
print(len(df_titanic))

891

5. Please check how many missing values there are in the dataset for the columns
“Age”,“Cabin” and “Embarked”. Missing values will have a null value (NaN). Do not
forget to write how many missing values there are for each of these three columns in the
comments.

In [10]:
nan_counts = df_titanic[['Age', 'Cabin', 'Embarked']].isna().sum()
print(nan_counts)

Age         177
Cabin       687
Embarked      2
dtype: int64

6. What is the age of the youngest passenger?

In [11]:
youngest_age = df_titanic['Age'].min()
print("The youngest passenger's age is:", youngest_age)

The youngest passenger's age is: 0.42

7. What is the age of the youngest passenger who survived?

In [12]:
youngest_survivor = df_titanic[df_titanic['Survived'] == 1]['Age'].min()
print("The youngest survived passenger's age is:", youngest_survivor)

The youngest survived passenger's age is: 0.42

8. How much is the average fare?

In [13]:
print(np.average(df_titanic['Fare']))

32.204207968574636

9. What is the age of the oldest passenger who survived?

In [14]:
oldest_survivor = df_titanic[df_titanic['Survived'] == 1]['Age'].max()
print("The oldest survived passenger's age is:", oldest_survivor)

The oldest survived passenger's age is: 80.0

10. What is the age of the oldest female passenger who survived?

In [22]:
survived_female = df_titanic[(df_titanic['Survived']==1) & (df_titanic['Sex'] == 'female')]
oldest_female = survived_female['Age'].max()
print("The oldest female survived passenger's age is:", oldest_female)

The oldest female survived passenger's age is: 63.0

11. Are there any children under the age of 10 traveling without their parents? What might
this indicate?

In [26]:
children_without_parents = df_titanic[(df_titanic['Age'] < 10) & (df_titanic['Parch'] == 0)]
print(len(children_without_parents))

#This specifies that this child is probably an orphan

1

12. What is the number of siblings of the passenger who has the highest number of siblings?

In [27]:
siblings_max=df_titanic['SibSp'].max()
print(siblings_max)

8

13. What is the most commonly used title (you can get the title information from the Name
attribute)?

In [28]:
title = df_titanic['Name'].str.split(', ').str[1].str.split('.').str[0]
most_common_title = title.value_counts().idxmax()
print(most_common_title)

Mr

 14. How many distinct titles are used? Please list these titles. (see Q13)

In [31]:
unique_titles = title.unique()
print(unique_titles)

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'the Countess' 'Jonkheer']

15. What is the average age of the passengers?

In [34]:
average_age = df_titanic['Age'].mean()
print("Average age (excluding NaN):", average_age)

Average age (excluding NaN): 29.69911764705882